.panda-btn-primary {
  background-image: linear-gradient(#ff589b, #ff136f);
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-size: 1rem;
}
.panda-btn-primary:hover {
  background-image: linear-gradient(#ff589b, #ff136f);
  border: none;
  color: #fff;
  opacity: 0.9;
}
.panda-bg-primary {
  background-color: #ff589b;
}
.banner__price {
  color: #ff589b;
}
.panda-rounded-2 {
  border-radius: 20px;
}
